/* LET THE STYLING BEGIN */body
{
    font-family: Arial, sans-serif;
    text-align: center;
    /*background-color: wheat;*/
    background-image:url("https://images.unsplash.com/photo-1567880905822-56f8e06fe630?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Y2FmZXxlbnwwfHwwfHw%3D&w=1000&q=80");
  }
  
  #feedback-form {
    width: 500px;
    margin: 0 auto;
    text-align: left;
  }
h1{
color:black;
}
  
  label {
    width: 120px;
    display: inline-block;
    font-weight: bold;
    color:black;
  }
  
  input[type="text"], input[type="email"], textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 60%;
  }
  
  input[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
