/* LET THE STYLING BEGIN */body
{
    font-family: Arial, sans-serif;
    text-align: center;
    /*background-color: wheat;*/
    background-image:url("https://media.istockphoto.com/id/1221913991/photo/wood-table-top-on-blur-restaurant-interior-background.jpg?s=612x612&w=0&k=20&c=phlnCosS8zpakJa51DdqGYWOvNhEM6cTW4bzebB2yxI=");
  }
  
  #feedback-form {
    width: 500px;
    margin: 0 auto;
    text-align: left;
  }
h1{
color:black;
}
  
  label {
    width: 120px;
    display: inline-block;
    font-weight: bold;
    color:black;
  }
  
  input[type="text"], input[type="email"], textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 60%;
  }
  
  input[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
